*,
html[lang=fr-FR] {
  margin: 0;
}

html[lang=fr-FR] {
  margin-top: 0 !important;
}

h1, h2, p, a, h3 {
  white-space: pre-wrap;
  color: #FFF;
}

p {
  font-size: 1.25rem;
  line-height: 23.44px;
  font-weight: 400;
}

h2, h3 {
  font-size: 1.63rem;
}

.titleRed {
  color: #ED4621;
}

.links {
  display: none;
  transform: translateX(-500px);
}

.buttonDebut {
  z-index: 3;
  cursor: pointer;
  background-color: red;
  box-shadow: -2px 6px 10px rgba(20, 4, 4, 0.8784313725);
  border-radius: 50%;
  padding: 1.5rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
}
.buttonDebut:hover {
  background-color: #a02d14;
  padding: 1.6rem;
}
.buttonDebut:hover::after, .buttonDebut:hover::before {
  background-color: rgb(235, 235, 235);
}
.buttonDebut::after {
  left: 13%;
  transform: rotate(122deg);
}
.buttonDebut::after, .buttonDebut::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 5px;
  background-color: #FFF;
  bottom: 50%;
  border-radius: 10px;
}
.buttonDebut::before {
  transform: rotate(55deg);
  right: 13%;
}

.pageGameShow {
  background: radial-gradient(circle, rgb(29, 45, 61) 13%, rgb(26, 5, 48) 67%);
}
.pageGameShow header {
  overflow: hidden;
  margin-bottom: 15rem;
}
.pageGameShow header #menu {
  background-color: rgba(54, 60, 58, 0.3882352941);
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pageGameShow header #burgerMenu {
  cursor: pointer;
  z-index: 9;
  margin: 1rem;
  position: relative;
  padding: 1.2rem;
  left: -60px;
}
.pageGameShow header #burgerMenu div, .pageGameShow header #burgerMenu::after, .pageGameShow header #burgerMenu::before {
  transition: 0.3s;
  background-color: #FFF;
  width: 65px;
  height: 4px;
}
.pageGameShow header #burgerMenu div {
  position: absolute;
}
.pageGameShow header #burgerMenu::after {
  position: absolute;
  content: "";
  top: 0;
}
.pageGameShow header #burgerMenu::before {
  position: absolute;
  content: "";
  top: 100%;
}
.pageGameShow header nav {
  z-index: 7;
  position: fixed;
  width: 100%;
}
.pageGameShow header .logo {
  padding: 1rem;
  align-items: flex-end;
  display: flex;
}
.pageGameShow header .logo img {
  width: 80px;
}
.pageGameShow header .containsResum {
  overflow: hidden;
  padding: 1rem;
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.pageGameShow header .containsResum div {
  margin-top: 8.7rem;
}
.pageGameShow header .containsResum img {
  width: 679px;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}
.pageGameShow header .containsResum .containsTitleParagraph {
  max-width: 545px;
}
.pageGameShow header .containsResum .containsTitleParagraph h1 {
  margin-bottom: 3rem;
  position: relative;
}
.pageGameShow header .containsResum .containsTitleParagraph h1::after {
  position: absolute;
  content: "";
  background-color: red;
  border-radius: 10px;
  width: 75px;
  height: 5px;
  bottom: -16%;
  left: 0;
}

main #titleEvent1 {
  max-width: 360px;
  position: relative;
  margin-bottom: 3.3rem;
}
main #titleEvent1::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10%;
  width: 75px;
  height: 5px;
  border-radius: 15px;
  background-color: #ED4621;
}
main #titleEvent2 {
  position: relative;
  margin-bottom: 1.5rem;
}
main #titleEvent2::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -20%;
  width: 75px;
  height: 5px;
  border-radius: 15px;
  background-color: #ED4621;
}
main #titleCompetition {
  max-width: 350px;
}
main .containsImageText:nth-of-type(1) img {
  z-index: 1;
  width: 500px;
  padding: 1rem;
  margin-right: 1rem;
}
main .mainSection {
  max-width: 1200px;
  margin: auto;
}
main .mainSection h2 {
  text-align: center;
  padding-bottom: 5.6rem;
}
main .mainSection article div {
  padding: 1rem;
}
main .mainSection article {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .mainSection article:nth-of-type(1) {
  margin-bottom: 10.7rem;
}
main .partenaires {
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
  height: 600px;
  display: flex;
  flex-direction: column;
}
main .partenaires h2 {
  text-align: center;
}
main .partenaires .partenaire {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}
main .partenaires .partenaire .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 20px;
  width: 200px;
  height: 250px;
  margin-left: 1rem;
  background: linear-gradient(52deg, rgba(20, 126, 186, 0.8) 0%, rgba(41, 116, 181, 0.75) 40%, rgba(237, 33, 94, 0.5) 100%);
  box-shadow: inset 4.57333px -4.57333px 4.57333px rgba(190, 27, 144, 0.416), inset -4.57333px 4.57333px 4.57333px rgba(255, 255, 255, 0.416);
  padding: 1rem;
}
main .partenaires .partenaire .cards h3 {
  font-size: 1.25rem;
  text-align: center;
}
main .partenaires .partenaire .cards img {
  max-width: initial;
  width: 155px;
}
main .Influenceurs {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}
main .Influenceurs h2 {
  padding: 0.5rem;
  text-align: center;
  margin: 13rem 0 5.9rem 0;
}
main .Influenceurs .containsInfluenceurs {
  display: flex;
}
main .Influenceurs .item {
  width: 330px;
}
main .Influenceurs .influenceur {
  margin: 1.6rem;
  padding: 1.5rem;
  border-radius: 15px;
  background: linear-gradient(52deg, rgba(20, 126, 186, 0.8) 0%, rgba(41, 116, 181, 0.75) 40%, rgba(237, 33, 94, 0.5) 100%);
  box-shadow: inset 4.57333px -4.57333px 4.57333px rgba(190, 27, 144, 0.416), inset -4.57333px 4.57333px 4.57333px rgba(255, 255, 255, 0.416);
}
main .Influenceurs .influenceur h3 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.63rem;
}
main .Influenceurs .influenceur p {
  font-size: 1.25rem;
  text-align: center;
  padding: 0.5rem 0.75rem;
}
main .Influenceurs .influenceur img {
  padding: 0.75rem 1rem 0.75rem 1rem;
  max-width: initial;
}
main .competition {
  padding: 0.5rem;
  max-width: 1200px;
  margin: 13.2rem auto 7rem auto;
  display: flex;
  align-items: center;
}
main .competition img {
  padding: 0.5rem;
}
main .competition div {
  padding: 0.5rem;
}
main .competition h3 {
  font-size: 1.63rem;
  max-width: 420px;
  position: relative;
  margin-bottom: 3.8rem;
}
main .competition h3:after {
  content: "";
  bottom: -25%;
  left: 0;
  position: absolute;
  width: 75px;
  height: 5px;
  background-color: red;
  border-radius: 15px;
}

footer {
  overflow: hidden;
}
footer h3 {
  position: relative;
  text-transform: uppercase;
  padding: 1rem;
  margin-bottom: 1.3rem;
}
footer h3::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #FFF;
  left: 1%;
  bottom: -120%;
}
footer .wave {
  margin-bottom: -15rem;
}
footer .wave svg {
  width: 147%;
  height: 296px;
}
footer .containsFooter {
  height: 100%;
  padding: 1rem;
  background: linear-gradient(45deg, rgb(237, 70, 33) 0%, rgb(161, 19, 104) 100%);
}
footer .containsFooter p:last-of-type {
  text-align: center;
  padding: 1rem;
}
footer .containtInfo {
  max-width: 1200px;
  margin: auto;
  padding-top: 20rem;
  display: flex;
  justify-content: space-around;
}
footer .containtInfo p:first-of-type {
  max-width: 700px;
  margin: 0;
  padding: 0.5rem;
  margin-bottom: 2rem;
  text-align: left;
}
footer .containtInfo .containsLink h3 {
  position: relative;
}
footer .containtInfo .containsLink h3:nth-of-type(1) {
  margin-bottom: 2.4rem;
}
footer .containtInfo .containsLink h3:nth-of-type(2) {
  margin: 3.4rem 0 1rem 0;
}
footer .containtInfo .containsLink #cordonnees, footer .containtInfo .containsLink #reseaux, footer .containtInfo .containsLink #contact {
  position: relative;
}
footer .containtInfo .containsLink #cordonnees:after, footer .containtInfo .containsLink #reseaux:after, footer .containtInfo .containsLink #contact:after {
  position: absolute;
  content: "";
  top: -30%;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  left: 0;
}
footer .containtInfo .containsLink #carte::after {
  width: 0;
  height: 0;
}
footer .containtInfo .containsLink #contact:after {
  bottom: 5%;
}
footer .containtInfo .containsLink #carte {
  margin-bottom: 0.25rem;
}
footer .containtInfo .containsLink iframe {
  border-radius: 15px;
  margin-bottom: -2rem;
  width: 400px;
  height: 400px;
}
footer .containtInfo .containsLink #cordonnees {
  margin-bottom: 2.4rem;
}
footer .containtInfo .containsLink #cordonnees:after {
  top: -5%;
}
footer .containtInfo .containsLink #reseaux {
  margin-top: 2.8rem;
}
footer .containtInfo .containsLink #reseaux:after {
  top: -30%;
}
footer .containtInfo .containsContact {
  position: relative;
}
footer .containtInfo .containsContact h3 {
  margin-bottom: 1.3rem;
}
footer .containtInfo form {
  max-width: 652px;
  padding: 0.75rem;
  color: #FFF;
}
footer .containtInfo form input {
  display: flex;
  border-radius: 8px;
  border: none;
  height: 50px;
  margin-top: -2.5rem;
  width: 100%;
}
footer .containtInfo form input[type=checkbox] {
  width: 15px;
  display: inline-block;
}
footer .containtInfo form .wpcf7-list-item-label::before {
  margin-bottom: -1rem;
}
footer .containtInfo form textarea {
  border-radius: 10px;
  margin-top: -2.5rem;
}
footer .containtInfo form p:nth-of-type(3) {
  margin-top: -2.5rem;
}
footer .containtInfo form p:nth-of-type(2) {
  margin-top: -2.5rem;
}
footer .containtInfo form p:nth-of-type(1) {
  margin-top: 1rem;
}
footer .containtInfo form p:nth-of-type(4) {
  margin-top: -1.5rem;
}
footer .containtInfo form input[type=submit] {
  max-width: 279px;
  margin-left: 9.5rem;
  margin-top: 1.5rem;
  justify-content: center;
  background-color: #363C3A;
  color: #FFF;
}
footer .containtInfo .nameFirstName {
  display: flex;
}
footer .containtInfo .nameFirstName input {
  width: 305px;
  margin-right: 1rem;
  margin-top: 0;
}
footer .containtInfo .containsLink {
  max-width: 448px;
}
footer .containtInfo .containsLink ul {
  margin: 0;
  padding: 0;
}
footer .containtInfo .containsLink ul li {
  list-style: none;
}
footer .containtInfo .containsLink ul li a {
  color: #FFF;
}
footer .containtInfo .containsLink .containsCoordinate ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.25rem;
}
footer .containtInfo .containsLink .containsCoordinate ul img {
  margin-right: 0.5rem;
  width: 24px;
}
footer .containtInfo .containsLink .containsNatworks ul {
  display: flex;
}
footer .containtInfo .containsLink .containsNatworks ul li {
  margin-right: 2.25rem;
}

nav.activeMenu {
  z-index: 8;
  position: fixed;
  background-color: #363C3A;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
nav.activeMenu #menu {
  display: block;
}
nav.activeMenu #burgerMenu {
  top: 2%;
  left: 83%;
}
nav.activeMenu #burgerMenu::before, nav.activeMenu #burgerMenu::after {
  top: 75%;
  border-radius: 15px;
}
nav.activeMenu #burgerMenu::before {
  transform: rotate(45deg);
}
nav.activeMenu #burgerMenu div {
  display: none;
}
nav.activeMenu #burgerMenu::after {
  transform: rotate(-45deg);
}
nav.activeMenu .logo {
  display: none;
}
nav.activeMenu .links {
  transform: translateX(0);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav.activeMenu .links h2 {
  font-size: 1.4rem;
}
nav.activeMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 4rem;
}
nav.activeMenu ul a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFF;
  display: block;
  padding: 0.7rem;
  text-decoration: none;
  text-align: center;
  background-color: #272b29;
  border-radius: 20px;
  transition: 0.3s;
  margin-bottom: 2rem;
}
nav.activeMenu ul a:hover {
  background-color: #1c1f1e;
  border-radius: 20px;
  transition: 0.3s;
}

@media screen and (max-width: 1200px) {
  main .competition {
    flex-direction: column;
    max-width: 800px;
  }
  main .competition img {
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 1100px) {
  .pageGameShow header .containsResum img {
    width: 780px;
    filter: contrast(55%) brightness(35%);
    left: 300px;
  }
  main .mainSection article {
    overflow: hidden;
    align-items: flex-start;
  }
  main .mainSection article div {
    padding: 1.5rem;
  }
  main .mainSection article:nth-of-type(1) {
    flex-direction: column;
  }
  main .mainSection article:nth-of-type(1) img {
    transform: translateX(-45px);
  }
  main .mainSection article:nth-of-type(2) {
    flex-direction: column-reverse;
  }
  main .mainSection article:nth-of-type(2) img {
    align-self: self-end;
    padding-left: 1rem;
    right: 0;
    width: 500px;
  }
  footer .wave {
    overflow: hidden;
    width: 300%;
    transform: translateX(-6%);
  }
  footer .containsNatworks {
    margin-bottom: 5rem;
  }
  footer .containtInfo {
    flex-direction: column;
    align-items: center;
    /*  .containsLink{
         margin: auto 21.5rem auto auto;
     } */
  }
  footer .containtInfo .containsContact {
    max-width: 655px;
  }
  footer .containtInfo form {
    margin: auto;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 780px) {
  .pageGameShow header #burgerMenu {
    padding: 1rem;
  }
  .pageGameShow header #burgerMenu::after, .pageGameShow header #burgerMenu::before, .pageGameShow header #burgerMenu div {
    width: 50px;
    height: 4px;
  }
  .pageGameShow header .logo p {
    display: none;
  }
  .pageGameShow header .containsResum img {
    left: 10px;
  }
  footer .containtInfo p:first-of-type {
    max-width: initial;
  }
  footer .containtInfo form {
    margin: 1rem 6rem;
    box-sizing: border-box;
  }
  footer .containtInfo form input, footer .containtInfo form textarea, footer .containtInfo form .nameFirstName {
    max-width: 400px;
    box-sizing: content-box;
  }
  footer .containtInfo form .nameFirstName input {
    width: 200px;
  }
  footer .containtInfo form textarea {
    margin-top: 0.7rem;
  }
  footer .containtInfo .containsLink iframe {
    width: 100%;
  }
  .partenaire .cards {
    margin: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .pageGameShow header img {
    width: 400px;
  }
}

/*# sourceMappingURL=style-gameShow.css.map */
